<div class="container" ng-controller="DeviceListController as ctrl">
    <table class="col-md-8 table table-striped">
        <thead>
        <tr>
            <td>session</td>
            <td>IP</td>
            <td>User</td>
            <td>OS</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-dblclick="ctrl.showDevice(client.sessionId)" ng-repeat="client in ctrl.clients">
            <td>{{client.sessionId}}</td>
            <td>{{client.clientIp}}</td>
            <td>{{client.properties["user.name"]}}</td>
            <td>{{client.properties["os.name"]}}</td>
        </tr>
        </tbody>
    </table>
</div>
