<div ng-controller="DeviceController as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="row">
                    <input type="text" class="form-control" ng-model="ctrl.terminalRequest" placeholder="input"/>
                </div>
            </div>
            <button class="btn btn-default col-md-1" ng-click="ctrl.sendCommand()">Send</button>
        </div>
        <div class="row" style="margin-top: 10px;">
            <textarea class="form-control col-md-12" style="height: 500px;"
                      placeholder="output">{{ctrl.terminalResponse}}</textarea>
        </div>
    </div>
</div>