<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>ClientList</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>        

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="Base.js"></script>
    </head>
    <body ng-app="base" ng-controller="ClientController as cliCtrl">
        <div class="container">
            <table class="col-md-8 table table-striped" ng-init="clients = cliCtrl.getClients()">
                <thead>
                    <tr>
                        <td>IP</td>
                        <td>User</td>
                        <td>OS</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="client in clients">
                        <td>{{client.clientIp}}</td>
                        <td>{{client.properties["user.name"]}}</td>
                        <td>{{client.properties["os.name"]}}</td>
                        <td> <button ng-click="cliCtrl.openProperties($index)">properties</button></td>
                    </tr>
                    <tr ng-repeat-end ng-show="cliCtrl.showProperties($index)">
                        <td colspan="4">
                            <div style="word-break: break-all;max-height: 150px;overflow: auto;">
                                <p ng-repeat="(key,value) in client.properties">
                                    {{key}}: {{value}}
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
